.navbar-nav b{
    font-family: Roboto;
    font-size: 18px;

}
b{
    color: black;
    padding: 2px;
}
.nav-item{
    margin-right: 5px;
}
.carousel.item {
    height: 100px;

    background: no-repeat center center scroll;
    background-size: cover;
}



.carousel-caption h5 {
    font-size: 55px;
    letter-spacing:2px;

    font-family: Roboto;
    color: black;
}
.carousel-caption h6 {
    font-size: 55px;
    letter-spacing:2px;

    font-family: Roboto;
    color: orangered;
}


.carousel-caption h4{
    text-align: center;
    font-size: 55px;
    letter-spacing:2px;
    font-family: Roboto;
    color: orangered;
}
h1{
    text-align: center;
    color: black;
    padding: 50px;
    font-family: Roboto;
    font-size: 45px;
    font-size: large;
}
#solutions {
    background-color: antiquewhite;
    background-image: url("images/Leasing IQ Logo-PNG.png");
    background-size: cover;
}
.card-header {
    text-align: center;
    color: black;
    font-family: Roboto;
    background-color: antiquewhite;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    color: black;
    width: 500px;
}
.nav-link{
    color: black;
}
#dropdown-menu{
    background-color: orange;
 }
.dropdown-menu>a{
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}
#tie4{
    background: linear-gradient(59deg, #3A6073, #16222A);
    background-size: cover;
    color: white;

}
#news{
    text-align: right;
}
#contact2{
    text-align: right;
    list-style-type: none;
}
.slide{
    font-family: Roboto;
    overflow-x: hidden;

}
.hi-slide{
    position: relative;
    width: 754px;
    height: 292px;
    margin: 115px auto 0;


}
.hi-slide .hi-next,
.hi-slide .hi-prev{
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: black;
    color: blue;
    transition: all 0.7s;
    font-size: 20px;
    font-weight: bold;
}
.hi-slide .hi-next:hover,
.hi-slide .hi-prev:hover{
    opacity: 1;
    background-color: black;
}
.hi-slide .hi-prev{
    left: -70px;
}
.hi-slide .hi-prev::before{
    content: "<";
}
.hi-slide .hi-next{
    right: -70px;
}
.hi-slide .hi-next::before{
    content: ">";
}
.hi-slide > ul{
    list-style: none;
    position: relative;
    width: 754px;
    height: 292px;
    margin: 0;
    padding: 0;
}
.hi-slide > ul > li{
    overflow: hidden;
    position: absolute;
    z-index: 0;
    left: 377px;
    top: 147px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 3px solid white;
    background-color: black;
    cursor: pointer;
}
.hi-slide > ul > li >a> img{
    width: 100%;
    height: 100%;
    background-position: center;

}
#tie3{
    background-color: antiquewhite;
    background-size: cover;
}
*
{
    padding: 0;
    margin: 0;
}
.header
{
    height: 80%;
    background-image: url("images/background.jpg");
    background-size: cover;
    /*  background-position: center;*/
    background-attachment: fixed;
    text-align: center;
    color: #2B1B17;
}
.header h1
{
    padding-top: 350px;
    padding-bottom: 0px;
    font-size: 75px;

}
ul.a {
    list-style-position: outside;
}
footer {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
    margin-top:100px;
}

footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
}

footer a:hover {
    color: #FA944B;
    text-decoration: none;
}

.copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
}

.footer-middle {
    padding-top: 2em;
    color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a {
    background-color: #F9F9F9;
}



